@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-MediumExt.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-MediumExt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTW06-97BlkCnObl';
    src: url('../fonts/HelveticaNeueLTW06-97BlkCnObl.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTW06-97BlkCnObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueW01-66MediumIt';
    src: url('../fonts/HelveticaNeueW01-66MediumIt.woff2') format('woff2'),
    url('../fonts/HelveticaNeueW01-66MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueW01-77BdCnObl';
    src: url('../fonts/HelveticaNeueW01-77BdCnObl.woff2') format('woff2'),
    url('../fonts/HelveticaNeueW01-77BdCnObl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueW01-87HvCnObl';
    src: url('../fonts/HelveticaNeueW01-87HvCnObl.woff2') format('woff2'),
    url('../fonts/HelveticaNeueW01-87HvCnObl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTW06-93BlkExtObl';
    src: url('../fonts/HelveticaNeueLTW06-93BlkExtObl.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTW06-93BlkExtObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue;
}
h2 {
    font-size: 42px;
}
input,
textarea {
    outline: none;
}
button {
    margin-bottom: 0;
    outline: none;
    border: none;
    text-transform: uppercase;
    text-align: center;
}
.section {
    padding-top: 153px;
    padding-bottom: 74px;
}
.text-center {
    text-align: center;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.content {
    flex: 1 0 auto;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.container--1360 {
    max-width: 1360px;
}
.container--1640 {
    max-width: 940px;
}
.flex {
    display: flex;
}
.flex--wrap {
    flex-wrap: wrap;
}
.flex--column {
    flex-direction: column;
}
.flex--items-centered {
    align-items: center;
}
.flex--content-centered {
    justify-content: center;
}
.flex--space-between {
    justify-content: space-between;
}
.send-button {
    background-color: #000000;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 12px 40px;
    cursor: pointer;
}
#slide-menu .links,
#slide-menu #search input,
#slide-menu #search button {
    visibility: none;
    opacity: 0;
    transition: all 0.3s;
}
.bm-overlay #slide-menu .links,
.bm-overlay #slide-menu #search input,
.bm-overlay #slide-menu #search button {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease-in-out;
}
.bm-overlay #slide-menu #search input,
.bm-overlay #slide-menu #search button {
    transition: all 2.5s ease-in-out;
}
.bm-burger-button {
    top: 25px !important;
}
@media (min-width: 942px) {
    .bm-burger-button {
        right: 140px !important;
    }
}
@media (min-width: 1301px) {
    .container--1640 {
        max-width: 1640px;
    }
}
@media (min-width: 760px) {
    .flex-760 {
        display: flex;
    }
    .flex--space-between-760 {
        justify-content: space-between;
    }
    .flex--column-760 {
        flex-direction: column;
    }
}

